<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voip.agora">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />


    <application
        android:supportsRtl="true">

    </application>

</manifest>
